//Joanna
$prodBlack: #000;
$prodSilver: rgb(116, 116, 116);
$prodGold: rgb(219, 205, 9);

//Carter
$text-grey: #6E6E6E;
$text-light-blue: #9EDEF6;
$bg-color-offwhite: #FAFAFA;
$bg-color-darkgrey: #6E6E6E;